.careers{
	background-color:  #f1f1f1;
}
.careers-wrapper{
	padding: 5% 5% 10%;
}
.position-item{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	border-top: 1px solid #999;
	padding:30px 0;
	.text{
		color:  #222222;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		margin:0;
		line-height: 2.5;
	}
	a{
		text-decoration: none;
		p{
			color:#fff;

		}
	}
	.button{
		margin:0;
	}
}
.position-item:last-of-type {
    border-bottom: 1px solid #999;
}
// Responsive design
@media all and (max-width: 1500px) { 
	

}
@media all and (max-width: 1024px) { 

}
@media all and (max-width: 940px) { 


}

@media all and (max-width: 768px) {
	
}

@media all and (max-width: 667px) {
	.position-item .button {
	    max-width: 150px;
	}
}

@media all and (max-width: 480px) {
	
}

@media all and (max-width: 320px) {
    
    
}
