.featured-images{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:100%;	
	justify-content:space-between;
	margin: 0 auto;
	margin: 5% 0;
	hr {
	    display: block;
	    margin: 0 auto;
	    border: 1px solid   #444444;
	    width: 100%;
	    max-width: 1000px;
	    margin-top:5%;
	}
}
.hero-feature{
	width:100%;
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
}
.featured-image{
	width: calc(31.33% - 15px);
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature{
	.feature-title{
		margin: 0 auto;
		hr {
		    display: block;
		    margin: 0 auto;
		    border: 1px solid  #48cfad;
		    width: 230px;
		}
		.wrapper{
			h1{
				text-align: center;
				text-transform: uppercase;
				font-family: 'Roboto', sans-serif;
				color:  #222222;
				font-size: 16px;
				font-weight: 400;
				margin-bottom:20px;
			}
			hr {
			    display: block;
			    margin: 0 auto;
			    border: 1px solid  #48cfad;
			    width: 230px;

			}
			p{
				font-family: 'Roboto', sans-serif;
				color:  #b2aa7e;
				font-size: 12px;
				font-weight: 400;
				line-height: 38px;
				text-align: center;
				text-transform: uppercase;
				margin:0;
			}
		}
	}
}
.feature-main{
	background-color:  #f1f1f1;
	width:100%;
	padding: 3% 10%;
	.featured-text{
		margin: 0 auto;
		p{
			color:  #444444;
			font-size: 16px;
			font-weight: 300;
			line-height: 30px;
			text-align: left;
		}
	}
}
.sign-up{
	p{
		color:  #222222;
		font-size: 13.91px;
		font-weight: 300;
		line-height: 30px;
		text-align: center;
	}
	.email{
		width: 295px;
		height: 50px;
		border: 1px solid  #48cfad;
	}
	.signup-button{
		background-color:  #48cfad;
		width: 60px;
		height: 50px;
		border: none;
		font-family: 'Roboto', sans-serif;
		color:  #ffffff;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
	}
	input{
		font-size: 12px;
	}
}
.sign-up-wrapper{
	margin:0 auto;
	width: 360px;
}
.share{
	display: flex;
	justify-content: center;
	padding: 25px;
	p{
		text-align: center;
		padding-right:25px;
		text-transform: uppercase;
		font-size: 18px;
		margin:0;
	}
}
.ssba-img{
	max-width:35px;
}
.share-buttons{
	display: flex;
}


.page-template-page-featured{
	.gform_wrapper form {
	    display: flex;
	}
	.gform_wrapper .top_label .gfield_label {
	    display: none !important;
	}
	.gform_wrapper .gform_footer {
	    padding: 0 !important;
	    margin: 0 !important;
	}
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
		    width: 93px !important;
		    border-radius: none !important;
		}
	.gform_wrapper ul li.gfield {
	    margin-top: 0 !important;
	    padding-top: 0 !important;
	}
	.gform_wrapper .top_label div.ginput_container {
	    margin-top: 0 !important;
	}
	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	    width: 250px;
	}
	.button {
	    border-radius: 0;
	}
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
		height: 50px !important;
	}
	.gform_wrapper ul.gform_fields li.gfield {
	    padding-right: 0 !important;
	}
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
	    color: #fff !important;
	}
}





// Responsive design
@media all and (max-width: 1500px) { 
	

}



@media all and (max-width: 1150px) { 
	.featured-image {
	    width: calc(47% - 20px);
	    height: 250px;
	    margin: 20px;
	}
}
@media all and (max-width: 1024px) { 
	.feature-main {
	    padding: 3% 0;
	}
	.feature-main .featured-text {
	    padding: 5%;
	}
	.featured-images {
	    justify-content: center;
	}
}

@media all and (max-width: 768px) {
	.featured-image {
	    margin:0 auto;
	    margin: 20px;
		display: block;
	}
	.hero-feature {
	    height: 400px;
	}
}

@media all and (max-width: 667px) {
	.featured-image {
	    width: 100%;
	}		
}

@media all and (max-width: 480px) {

}

@media all and (max-width: 320px) {
    
    
}
