

// header
header{
	width:100%;
	z-index:9999;
	background: transparent;
	top:0;
	// display: flex;

	// header-wrapper
	.header-wrapper{
		padding: 0 2%;
		width:100%;
		display: flex;
		align-items: center;
		z-index:999;
		max-width: 1200px;
		margin: 0 auto;
		position: absolute;
		background: transparent;
		// logo
		.logo{
		    align-items: center;
		    display: flex;
		    margin-top:20px;
		    a{
		    	margin:0 auto;
		    	width:95%;
		    	margin: 0 0 5px;
		    }
		}
		// menu-container
		#menu-container{
			display: flex;
			align-items: center;
			justify-content:space-between;
			width:100%;
			margin: 0px;
			ul.menu, .menu ul {
				width:100%;
				display: flex;
				// justify-content: center;
				list-style: none;
				margin: 0 auto;
				margin:0 ;
				height: 100px;

				li {
					text-align: center;
				    position: relative;
				    align-content: center;
				    align-items: center;
				    display: flex;
				    padding: 0px 10px;
				
					a {
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: .1em;
						margin:0 auto;
						transition: all .5s ease-in-out;
						color: #fff;
						font-size: 14px;
						font-family: 'Merriweather', serif;
						font-weight: 300;

					}
				}
			}
			
		} // end of menu-container
	} //end of header-wrapper
} // end of header



.social-icons{
	display: flex;
	justify-content: flex-end; 

	    .fa{
	    	font-size: 14px;
	    	color: white;
	    	padding:0 10px;
	    	transition: all .5s ease-in-out;
	    }
}

// hide hambuger menu
.mobileNavIcon {
    display: none;

}

	
// mobile navigation
.mobile{
	display: none;
	position: absolute;
	top: 100px;
	left: 0px;
	right: 0px;
	bottom:0;
	background-color: white;
	padding: 60px 0;
	height: 100%;
	width:100%;
	ul{

	list-style: none;
	margin:0;
		li{
			padding: 15px;
			transition: all .5s ease-in-out;
			a{
				text-align: center;
				transition: all .5s ease-in-out;
				color: #222;
			}
		}
	}
	
}


header .header-wrapper #menu-container ul.menu li a:hover {
	border-bottom: 1px solid #48cfad;
}

.desktop-nav{
	padding-bottom: 30px;
}
.logo-desktop{
	z-index: 9999;
	position: relative;
}
.logo-mobile{
	display: none;
}
header .header-wrapper #menu-container .mobile ul li{
	padding-bottom: 25px;
}

header .header-wrapper #menu-container .mobile ul li a{
	color:#222;
}
.home-slider-titles {
	z-index: 999999;
	position: relative;
}


/*hide and show sticky nav bar*/

// .colour-change{
// 	background: white;
// 	opacity: 1;
// }
// .appear{
// 	opacity: 1;
// }


// Responsive design
@media all and (max-width: 1500px) { 
	

}
@media all and (max-width: 1024px) { 
	header .header-wrapper #menu-container ul.menu {
	    padding-left: 0;
	}
	.mobile {
	    height: 100%;
	    position:fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 100%;
		background-color: #222;
	}
	header .header-wrapper .logo a {
	    margin: 0 auto;
	    width: 60%;
	}
	header .header-wrapper #menu-container  .desktop-nav{
		display:none;
	}

	.mobileNavIcon{
		z-index: 9999;
		display:block;
	}

	header .header-wrapper #menu-container .menu ul, header .header-wrapper #menu-container ul.menu {
	    flex-direction: column;
	}

	header .header-wrapper #menu-container {
	    justify-content: space-between;
	}
	
	header .header-wrapper #menu-container ul.menu li {
	    display: flex;
	    flex-direction: column;
	    padding: 5px;
	}
	header .header-wrapper {
	    padding: 0 7%;
	}

	header .header-wrapper {
	    height:50px;
	}

	.social-icons {
	    justify-content: center;
	}
	header .header-wrapper #menu-container ul.menu {
	    padding-bottom: 0px;
	}
	header {
	    position: fixed;
	    top: 0;
	}

	header .header-wrapper #menu-container .menu ul{
	    padding-left: 0;
	}
	.mobileNavIcon{
		img{
			max-width: 36px;
		}
	}
	header .header-wrapper #menu-container .mobile ul li a {
	    color: #fff;
	}
	header .header-wrapper #menu-container .menu ul{
		padding-top:50px;
	} 
	header .header-wrapper #menu-container ul.menu{
		height: auto;
	}

}


@media all and (max-width: 480px) {
	.logo-dark-wrapper {
	    width: 100%;

	}
	header .header-wrapper .logo a {
	    width: 40%;
	}
}
